mixin content(data)
  include ../menu/menu
  include ../page-credit/page-credit
  include ../page-ipoteka/page-ipoteka
  include ../page-employment/page-employment
  section.section.section_header
    .content
      main.content__main
        h1.title.title_h1 ПрофСервис
        p.paragraph.text.text_lead Заказать полный пакет официальных документов, подтверждённых работодателем, для получения:
      aside.content__aside.text.text_small
        br
        p.paragraph Мы предоставляем официальное трудоустройство с&nbsp;телефонным и&nbsp;документальным подтверждением работодателя.
      +menu('part', data)
  section.section
    case data
      when 'credit'
        +page-credit()
      when 'ipoteka'
        +page-ipoteka()
      when 'employment'
        +page-employment()
    .content
      main.content__main
        h2.title.title_h2 Алгоритм действий
        ol.list
          li.list__item анализ заявки;
          li.list__item подбор данных;
          li.list__item согласование;
          li.list__item договор конфиденциальности;
          li.list__item предварительный договор на оказание сервиса и оплаты;
          li.list__item получение полного пакета документов о трудоустройстве, подтверждённых и заверенных работодателем;
          li.list__item проверка;
          li.list__item оплата;
          li.list__item сопровождение.
        h2.title.title_h2 Преимущества
        p.paragraph.paragraph_indent ПрофСервис предоставит вам:
        ul.list
          li.list__item
            b.text.text_big реальную организацию
            | &nbsp;с:
            ol.list
              li.list__item историей работы от года;
              li.list__item юридическим и фактическим адресом;
              li.list__item полной свеовременно сданной отчётностью перед контролирующими органами;
              li.list__item положительной финансовой деятельностью;
              li.list__item профессиональной бухгалтерией;
              li.list__item сайтом;
              li.list__item городскими контактными телефонами для связи с компанией-работодателем;
          li.list__item
            b.text.text_big полный пакет официальных документов о трудоустройстве, подтверждённый и заверенный работодателем
            | :
            ol.list
              li.list__item приказ о принятии в штат;
              li.list__item трудовой договор;
              li.list__item трудовая книжка (запись);
              li.list__item стаж;
              li.list__item заработная плата;
              li.list__item справка 2-НДФЛ;
              li.list__item справка подтверждения дохода по форме банка и в свободной форме;
          li.list__item
            b.text.text_big подтверждение
            | :
            ul.list
              li.list__item визит в офис компании-работодателя;
              li.list__item подтверждение бухгалтерии по городскому номеру;
              li.list__item фото сотрудника на сайте компании-работодателя в разделе «Персонал» (по желанию);
          li.list__item
            b.text.text_big резерв должности
            | &nbsp;— за вами будет закреплено рабочее место-должность с телефонным и документальным подтверждением заработной платы и стажа до момента вашего пожелания уволиться;
          li.list__item
            b.text.text_big служба поддержки
            | &nbsp;— консультирование заказчика по сопутсвующим вопросам на протяжении всего сотрудничества-сопровождения;
          li.list__item
            b.text.text_big гарантия конфиденциальности
            | &nbsp;— ПрофСервис обязуется сохранять ваши персональные данные с невозможностью передачи их третьим лицам.
        h2.title.title_h2 Коллектив
        ol.list
          li.list__item реальные работодатели;
          li.list__item юридические консультанты;
          li.list__item бухгалтерия;
          li.list__item банковские консультанты;
          li.list__item Бюро кредитных историй;
          li.list__item курьерская служба (доставка документации заказчику).
        h2.title.title_h2 Цены
        p.paragraph.paragraph_indent Обращаем ваше внимание, что на нашем сайте не указаны цены и стоимость работы ПрофСервиса — каждое обращение уникально и строго индивидуально, соответственно, требует аналогичного решения.
        p.paragraph.paragraph_indent Не исключена ситуация, что после анализа заявки вам будет не рекомендовано приобретение пакета ПрофСервиса по причине отсутсвия смысла его использования, исходя из ваших персональных данных (негативная кредитная история, невозможность увеличения (фиксирвания) стажа и т. д.). Вам будут предложены альтернативные решения, если таковые будут возможны.