mixin content(data)
  include ../menu/menu
  .content
    main.content__main
      h1.title.title_h1 ПрофСервис
      p.paragraph.text.text_lead Заказать полный пакет официальных документов, подтверждённых работодателем, для получения:
    aside.content__aside.text.text_small
      br
      p.paragraph Мы предоставляем официальное трудоустройство с телефонным и документальным подтверждением работодателя.
    +menu('part')
  //- .content
    main.content__main
      h2.title.title_h2 Кредит
  //- .content
    main.content__main
      p.paragraph Мы проводим полный анализ (кредитная история, скоринг), включая вашу трудовую деятельность (образование, специальность, стаж, занимаемые должности), и предоставляем:
      ul.list
        li.list__item подбор реальной компании-работодателя по профильной сфере деятельности;
        li.list__item согласование должности, размер заработной платы и стажа.
    aside.content__aside.text.text_small
      p.paragraph Вы получаете полный пакет официальных документов с места работы, подтверждённый и заверенный работодателем.
      p.paragraph Предоставляем рекомендации по выбору банка-кредитора.
  //- .content
    main.content__main
      h3.title.title_h3 Полезная информация
  //- .content
    main.content__main
      p.paragraph.paragraph_indent БКИ фиксирует информацию о ваших работодателях. Если вы ранее обращались за кредитом, важно соблюдать хронологический порядок при составлении пакета документов с места работы к подаче в Банк. А также имейте в виду, что Банк проверяет правильное оформление справок о доходах любой формы в последнюю очередь, т. к. все они единого стандартного образца (для заполнения). Сначала будет проверен генеральный директор ООО и компания-работодатель.
      p.paragraph.paragraph_indent Поэтому, покупая «красивую справку», вы рискуете потерять деньги, а в худшем случае — создать себе сомнительную репутацию перед Банком.  Чаще всего подобные «справки» предоставляются от фирм-однодневок, обнальных, чужих и «мёртвых» (без расчётного счёта) компаний.
    aside.content__aside.text.text_small
      p.paragraph Мы гарантируем исключение всех рисков и соблюдение политики конфиденциальности ваших персональных данных.
      p.paragraph Полная информация по телефону. Бесплатная консультация.
  //- .content
    main.content__main
      h2.title.title_h2 Ипотека
  //- .content
    main.content__main
      p.paragraph Мы проводим полный анализ (кредитная история, скоринг), включая вашу трудовую деятельность (образование, специальность, стаж, занимаемые должности), учитывая:
      ul.list
        li.list__item программу ипотечного кредита;
        li.list__item объект недвижимости;
        li.list__item количество заёмщиков;
        li.list__item желаемый срок кредитования;
        li.list__item размер ежемесячного платежа;
        li.list__item суммы кредита;
        li.list__item наличие первоночального взноса и материнского капитала;
      p.paragraph и предоставляем:
      ol.list
        li.list__item подбор реальной компании-работодателя по профильной сфере деятельности;
        li.list__item согласование должности, размер заработной платы и стажа.
    aside.content__aside.text.text_small
      p.paragraph Вы получаете полный пакет официальных документов с места работы, подтверждённый и заверенный работодателем.
      p.paragraph Предоставляем рекомендации по выбору банка-кредитора.
  //- .content
    main.content__main
      h3.title.title_h3 Полезная информация
      p.paragraph.paragraph_indent Чаще сумма ипотечного кредита превышает 2 млн. рублей, т. е. размер ежемесячного платежа при сроке кредитования от 10 лет более 25&thinsp;000 рублей.
      p.paragraph Учитывая индивидуальные расходы:
      ul
        li.list__item прожиточный минимум;
        li.list__item оплату действующих кредитов;
        li.list__item вычет на содержание несовершеннолетних детей;
        li.list__item алименты и прочие расходы;
  //- .content
    main.content__main
      p.paragraph такому заёмщику потребуется должность с минимальной заработной платой в 100&thinsp;000 рублей. Служба безопасности Банка сверяет предоставленные данные о доходе со сведениями РосСтата в конкретном регионе: например, менеджер по закупкам в Санкт-Петербурге имеет среднюю заработную плату 35&thinsp;000 рублей, а никак не 100&thinsp;000 рублей весь год и каждый месяц. Поэтому, покупая «красивую справку», вы рискуете попасть под Банковскую статью: «подозрение о предоставленной личной информации», получить отказ по кредитной заявке и потерять деньги, а в худшем случае — попасть в „чёрный список“, что уже необратимо.
    aside.content__aside.text.text_small
      p.paragraph Мы гарантируем исключение всех рисков и соблюдение политики конфиденциальности ваших персональных данных.
      p.paragraph Полная информация по телефону. Бесплатная консультация.
  //- .content
    main.content__main
      h2.title.title_h2 Официальное трудоустройство на МРОТ
      p.paragraph Производится приём в штат (официальное трудоустройство) в реальную компанию-работодатель:
      ol.list
        li.list__item по трудовой книжке или срочному/бессрочному трудовому договору,
        li.list__item с телефонным и документальным подтверждением работодателя,
        li.list__item с получением оклада на зарплатную карту (по желанию),
        li.list__item ежемесячной оплатой подоходного налога и отчислениями в ПФР,
        li.list__item с оплатой МРОТ, включая возможность предоставления справки с ПФР СЗИ-6 («Сведения о состоянии индивидуального лицевого счета застрахованного лица»).
      h3.title.title_h3 Полезная информация
      p.paragraph.paragraph_indent Гос. органы имеют право прямого обращения и запроса сведений о трудоустройстве и доходах из ПФР и ФНС. Данное трудоустройство можно указывать и предоставлять во все коммерческие организации и гос. органы, включая те, которые требуют подтверждения из ФНС и ПФР, такие как: ФССП, ГИБДД, УФСИН, суды РФ.
  .content
    main.content__main
      h2.title.title_h2 Алгоритм действий
      ol.list
        li.list__item анализ заявки;
        li.list__item подбор данных;
        li.list__item согласование;
        li.list__item договор конфиденциальности;
        li.list__item предварительный договор на оказание сервиса и оплаты;
        li.list__item получение полного пакета документов о трудоустройстве, подтверждённых и заверенных работодателем;
        li.list__item проверка;
        li.list__item оплата;
        li.list__item сопровождение.
      h2.title.title_h2 Преимущества
      p.paragraph.paragraph_indent ПрофСервис предоставит вам:
      ul.list
        li.list__item
          b.text.text_big реальную организацию
          | &nbsp;с:
          ol.list
            li.list__item историей работы от года;
            li.list__item юридическим и фактическим адресом;
            li.list__item полной свеовременно сданной отчётностью перед контролирующими органами;
            li.list__item положительной финансовой деятельностью;
            li.list__item профессиональной бухгалтерией;
            li.list__item сайтом;
            li.list__item городскими контактными телефонами для связи с компанией-работодателем;
        li.list__item
          b.text.text_big полный пакет официальных документов о трудоустройстве, подтверждённый и заверенный работодателем
          | :
          ol.list
            li.list__item приказ о принятии в штат;
            li.list__item трудовой договор;
            li.list__item трудовая книжка (запись);
            li.list__item стаж;
            li.list__item заработная плата;
            li.list__item справка 2-НДФЛ;
            li.list__item справка подтверждения дохода по форме банка и в свободной форме;
        li.list__item
          b.text.text_big подтверждение
          | :
          ul.list
            li.list__item визит в офис компании-работодателя;
            li.list__item подтверждение бухгалтерии по городскому номеру;
            li.list__item фото сотрудника на сайте компании-работодателя в разделе «Персонал» (по желанию);
        li.list__item
          b.text.text_big резерв должности
          | &nbsp;— за вами будет закреплено рабочее место-должность с телефонным и документальным подтверждением заработной платы и стажа до момента вашего пожелания уволиться;
        li.list__item
          b.text.text_big служба поддержки
          | &nbsp;— консультирование заказчика по сопутсвующим вопросам на протяжении всего сотрудничества-сопровождения;
        li.list__item
          b.text.text_big гарантия конфиденциальности
          | &nbsp;— ПрофСервис обязуется сохранять ваши персональные данные с невозможностью передачи их третьим лицам.
      h2.title.title_h2 Коллектив
      ol.list
        li.list__item реальные работодатели;
        li.list__item юридические консультанты;
        li.list__item бухгалтерия;
        li.list__item банковские консультанты;
        li.list__item Бюро кредитных историй;
        li.list__item курьерская служба (доставка документации заказчику).
      h2.title.title_h2 Цены
      p.paragraph.paragraph_indent Обращаем ваше внимание, что на нашем сайте не указаны цены и стоимость работы ПрофСервиса — каждое обращение уникально и строго индивидуально, соответственно, требует аналогичного решения.
      p.paragraph.paragraph_indent Не исключена ситуация, что после анализа заявки вам будет не рекомендовано приобретение пакета ПрофСервиса по причине отсутсвия смысла его использования, исходя из ваших персональных данных (негативная кредитная история, невозможность увеличения (фиксирвания) стажа и т. д.). Вам будут предложены альтернативные решения, если таковые будут возможны.