mixin page-employment(data)
  .content
    main.content__main
      h2.title.title_h2 Официальное трудоустройство на МРОТ
      p.paragraph Производится приём в штат (официальное трудоустройство) в реальную компанию-работодатель:
      ol.list
        li.list__item по трудовой книжке или срочному/бессрочному трудовому договору,
        li.list__item с телефонным и документальным подтверждением работодателя,
        li.list__item с получением оклада на зарплатную карту (по желанию),
        li.list__item ежемесячной оплатой подоходного налога и отчислениями в ПФР,
        li.list__item с оплатой МРОТ, включая возможность предоставления справки с ПФР СЗИ-6 («Сведения о состоянии индивидуального лицевого счета застрахованного лица»).
      h3.title.title_h3 Полезная информация
      p.paragraph.paragraph_indent Гос. органы имеют право прямого обращения и запроса сведений о трудоустройстве и доходах из ПФР и ФНС. Данное трудоустройство можно указывать и предоставлять во все коммерческие организации и гос. органы, включая те, которые требуют подтверждения из ФНС и ПФР, такие как: ФССП, ГИБДД, УФСИН, суды РФ.