mixin page-ipoteka(data)
  .content
    main.content__main
      h2.title.title_h2 Ипотека
  .content
    main.content__main
      p.paragraph Мы проводим полный анализ (кредитная история, скоринг), включая вашу трудовую деятельность (образование, специальность, стаж, занимаемые должности), учитывая:
      ul.list
        li.list__item программу ипотечного кредита;
        li.list__item объект недвижимости;
        li.list__item количество заёмщиков;
        li.list__item желаемый срок кредитования;
        li.list__item размер ежемесячного платежа;
        li.list__item суммы кредита;
        li.list__item наличие первоночального взноса и материнского капитала;
      p.paragraph и предоставляем:
      ol.list
        li.list__item подбор реальной компании-работодателя по профильной сфере деятельности;
        li.list__item согласование должности, размер заработной платы и стажа.
    aside.content__aside.text.text_small
      p.paragraph Вы получаете полный пакет официальных документов с места работы, подтверждённый и заверенный работодателем.
      p.paragraph Предоставляем рекомендации по выбору банка-кредитора.
  .content
    main.content__main
      h3.title.title_h3 Полезная информация
      p.paragraph.paragraph_indent Чаще сумма ипотечного кредита превышает 2 млн. рублей, т. е. размер ежемесячного платежа при сроке кредитования от 10 лет более 25&thinsp;000 рублей.
      p.paragraph Учитывая индивидуальные расходы:
      ul
        li.list__item прожиточный минимум;
        li.list__item оплату действующих кредитов;
        li.list__item вычет на содержание несовершеннолетних детей;
        li.list__item алименты и прочие расходы;
  .content
    main.content__main
      p.paragraph такому заёмщику потребуется должность с минимальной заработной платой в 100&thinsp;000 рублей. Служба безопасности Банка сверяет предоставленные данные о доходе со сведениями РосСтата в конкретном регионе: например, менеджер по закупкам в Санкт-Петербурге имеет среднюю заработную плату 35&thinsp;000 рублей, а никак не 100&thinsp;000 рублей весь год и каждый месяц. Поэтому, покупая «красивую справку», вы рискуете попасть под Банковскую статью: «подозрение о предоставленной личной информации», получить отказ по кредитной заявке и потерять деньги, а в худшем случае — попасть в „чёрный список“, что уже необратимо.
    aside.content__aside.text.text_small
      p.paragraph Мы гарантируем исключение всех рисков и соблюдение политики конфиденциальности ваших персональных данных.
      p.paragraph Полная информация по телефону. Бесплатная консультация.