mixin page-credit(data)
  .content
    main.content__main
      h2.title.title_h2 Кредит
  .content
    main.content__main
      p.paragraph Мы проводим полный анализ (кредитная история, скоринг), включая вашу трудовую деятельность (образование, специальность, стаж, занимаемые должности), и предоставляем:
      ul.list
        li.list__item подбор реальной компании-работодателя по профильной сфере деятельности;
        li.list__item согласование должности, размер заработной платы и стажа.
    aside.content__aside.text.text_small
      p.paragraph Вы получаете полный пакет официальных документов с места работы, подтверждённый и заверенный работодателем.
      p.paragraph Предоставляем рекомендации по выбору банка-кредитора.
  .content
    main.content__main
      h3.title.title_h3 Полезная информация
  .content
    main.content__main
      p.paragraph.paragraph_indent БКИ фиксирует информацию о ваших работодателях. Если вы ранее обращались за кредитом, важно соблюдать хронологический порядок при составлении пакета документов с места работы к подаче в Банк. А также имейте в виду, что Банк проверяет правильное оформление справок о доходах любой формы в последнюю очередь, т. к. все они единого стандартного образца (для заполнения). Сначала будет проверен генеральный директор ООО и компания-работодатель.
      p.paragraph.paragraph_indent Поэтому, покупая «красивую справку», вы рискуете потерять деньги, а в худшем случае — создать себе сомнительную репутацию перед Банком.  Чаще всего подобные «справки» предоставляются от фирм-однодневок, обнальных, чужих и «мёртвых» (без расчётного счёта) компаний.
    aside.content__aside.text.text_small
      p.paragraph Мы гарантируем исключение всех рисков и соблюдение политики конфиденциальности ваших персональных данных.
      p.paragraph Полная информация по телефону. Бесплатная консультация.